@page "/birthday"

<h2>What's your date of birth?</h2>

<input type="text" @bind="dob"/>
<button class="btn btn-primary" @onclick="Submit">Submit</button>
<br>
<h3>You were born on  a ....@day !</h3>

@code {
    private string dob = "";
    private string day = "";

    private void Submit()
    {
        if (dob != null)
        {
            if (DateTime.TryParse(dob, out var date))
            {
                day = date.DayOfWeek.ToString();
            }
        }
    }
}